 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
    --h1-font-size: 6rem;
    --span-font-size: 2.5rem;
    --h1-color: black;
    --span-color: red;
    --button-color: #ffa600;
    --height-hero-image: 80dvh;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    text-wrap: balance;
 }

 h1 {
    font-size: var(--h1-font-size);
 }

 span {
    text-wrap: balance;
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff36;
    color: #ffffff;
    color: black;
 }

 ul {
    list-style: none;
 }

 .errores {
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    opacity: 0.7;
    border-radius: 0.5rem;
    padding: 1rem;
 }

 @media screen and (max-width: 1024px) {
    :root {
       --h1-font-size: 2.5rem;
       --span-font-size: 1.5rem;
       --h1-color: #ffffff;
       --span-color: #ffffff;
       --button-color: #ffa600;
       --height-hero-image: 60dvh;
    }
 }

 *,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }

 .container {
    background: url(../assets/imgs/MarioyLuigi.png) no-repeat center center/cover;
    height: var(--height-hero-image);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .container::before {
    content: "";
    background: whitesmoke;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
 }

 .hero-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 3rem;
 }

 .main{
   content: "";
   position: absolute;
   width: 100%;
   opacity: 0.7;
   justify-content: center;
   display:flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding:9rem;
 }


 fieldset{
   border:none;
   padding: 0;
   margin: 0;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
 }

 input,textarea,select{
   margin:0.5rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   border: 1px solid black;
   width: 20rem;
   text-align: center;

 }

.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding: 1rem;
   background-color: black;
   opacity: 0.7;
   border-radius: 0.5rem;
}

.btn {
   margin: 0.5rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   border: 1px solid black;
   width: 20rem;
   text-align: center;
   background-color: aquamarine;
 }

 body {
    background-color: grey;
 }

 .form {
    background-color: aqua;
 }